:root {
  --face-color1: rgba(255,255,0,1);
  --face-color2: rgba(229,229,0,1); 
  --face-color3: rgba(163,163,0,1); 
  --inner-face-color1: rgba(190,190,0,1); 
  --dot-color1: rgba(255,255,255,1);
  --dot-color2: rgba(229,229,229,1);
  --dot-color3: rgba(163,163,163,1);
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.board {
  width: 100%;
  height: calc(100% - 50px);
}

.menu {
  font-family: sans-serif;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #333;
  color: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.56);
  transition: height .3s ease-in-out;
  z-index: 999;
}

.menu-item {
  display:inline-block;
  width:22px;
  height:22px;
}

.more-btn {
  background:
    linear-gradient(#333 0 0),
    linear-gradient(#333 0 0),
    #fff;
  background-position:center;
  background-size: 50% 3px,3px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.less-btn {
  background:
    linear-gradient(#333 0 0),
    #fff;
  background-position:center;
  background-size: 50% 3px,3px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.next-btn {
  background-color: #fff;
  position: relative;
}

.next-btn::before {
  content: '';
  position: absolute;
  left: 50%;
  background-color: #333;
  width: 1px;
  height: 6px;
  margin-top: 4px;
  border-top: 2px solid transparent;
  border-right: 2px solid #333;
  border-bottom: 2px solid transparent;
  transform: rotate(-45deg);
}

.next-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  width: 1px;
  height: 6px;
  margin-top: -2px;
  border-top: 2px solid transparent;
  border-right: 2px solid #333;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
}

.prev-btn {
  background-color: #fff;
  position: relative;
}

.prev-btn::before {
  content: '';
  position: absolute;
  left: 40%;
  background-color: #333;
  width: 1px;
  height: 6px;
  margin-top: 4px;
  border-top: 2px solid transparent;
  border-left: 2px solid #333;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
}

.prev-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: #333;
  width: 1px;
  height: 6px;
  margin-top: -2px;
  border-top: 2px solid transparent;
  border-left: 2px solid #333;
  border-bottom: 2px solid transparent;
  transform: rotate(-45deg);
}

.menu-closed {
  height: 50px;
}

.menu-opened {
  height: 200px;
}

.label {
  text-align: center;
  display:inline-block;
  width:22px;
  height:22px;
}

.arrow {
  text-align: center;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  margin-left:10px;
  transition: all 0.5s ease-in-out;
}

.rotate {
  animation: rotate 0.3s linear;
  transform: rotate(45deg);
}

@keyframes rotate {
  from { transform: rotate(-135deg); }
  to { transform: rotate(45deg); }
}

.menu-container {
  position: absolute;
  height: 50px;
  width: 100%;
  right: 0px;
}

.option-container {
  top: 0px;
}

.number-of-dice-container {
  top: 50px;
}

.color-of-dice-container {
  top: 100px;
}

.bg-container {
  top: 150px;
}

.menu-title {
  position: inherit;
  right: 20px;
  top: 15px;
  font-size: 20px;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 110px;
  background-color: transparent;
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 800px;
  position: relative;
  background-color: transparent;
}

.dice {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(25deg) rotateY(0deg);
}

.cube {
  position: relative;
  top: -500px; 
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: translateZ(-1200px);
}

.face {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  border-radius: 40px;
  background: radial-gradient(circle, var(--face-color1) 0%, var(--face-color2) 60%, var(--face-color3) 100%);
}

.internal-face {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: var(--inner-face-color1);
  width: 198px;
  height: 198px;
  border-radius: 5px;
  z-index: -1;
}

.internal-front {
  transform: translateZ(80px);
}

.front {
  transform: translateZ(100px);
  z-index: 1;
}

.internal-back {
  transform: translateZ(-80px) rotateY(180deg);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  z-index: 2;
}

.internal-right {
  transform: translateX(80px) rotateY(-90deg);
}

.right {
  transform: translateX(100px) rotateY(-90deg);
  z-index: 3;
}

.internal-left {
  transform: translateX(-80px) rotateY(90deg);
}

.left {
  transform: translateX(-100px) rotateY(90deg);
  z-index: 4;
}

.internal-top {
  transform: translateY(-80px) rotateX(-90deg);
}

.top {
  transform: translateY(-100px) rotateX(-90deg);
  z-index: 5;
}

.internal-bottom {
  transform: translateY(80px) rotateX(90deg);
}

.bottom {
  transform: translateY(100px) rotateX(90deg);
  z-index: 6;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle, var(--dot-color1) 0%, var(--dot-color2) 50%, var(--dot-color3) 100%);
}

.dot-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot-top-left {
  top: 25%;
  left: 25%;
}

.dot-bottom-right {
  bottom: 25%;
  right: 25%;
}

.dot-top-right {
  top: 25%;
  right: 25%;
}

.dot-bottom-left {
  bottom: 25%;
  left: 25%;
}

.dot-top-center {
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.dot-bottom-center {
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.boardbg-out {
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.boardbg {
  transform: translate(-50%, -50%) rotateX(25deg);
  background-image: url(texture.svg);
  position: absolute;
  width: 200%;
  height: 200%;
  transform-style: preserve-3d;
  background-repeat: repeat;
}

.dice-shadow {
  left: 50%;
  z-index: -1;
  position: relative;
  top: 70%;
  width: 0.005%;
  height: 0.005%;
  background-color: rgb(255, 0, 0);
  box-shadow: 50px 100px 50px 40px #000000ab;
  transform: rotateZ(70deg);
}